PORT=3000
MONGO_URL=mongodb+srv://<username>:<password>@<cluster-url>/<database-name>?retryWrites=true&w=majority

# Довільний рядок для генерації підпису токена
JWT_SECRET=

# Домен фронтенда, куди веде посилання в листі, напр. http://localhost:3001
FRONTEND_DOMAIN=

# Значення з акаунта Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Значення з акаунта Brevo (або SendGrid)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
# Пошта, на яку реєстрували акаунт SMTP-провайдера
SMTP_FROM=
